body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.calculator {
  background: #e5e8eb;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.display {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px;
  font-size: 80px;
  text-align: right;
  overflow: hidden;
  max-width: 513px;
}

.buttons {
  margin: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
}

button {
  background: #f0f0f0;
  border: none;
  border-radius: 12px;
  font-size: 36px;
  padding: 16px;
  cursor: pointer;
  user-select: none;
  color: #424c52;
}

button:hover {
  filter: brightness(1.2);
}

button:active {
  filter: none;
}

.operator {
  background: #d2dce4;
}

.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.high {
  grid-row: 3 / span 4;
  grid-column: 6 / span 1;
  background-color: #fd848a;
}

.sup {
  font-size: 40px;
}
